<section class="issuer_section" style="padding: 15px 0 !important;">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="center-pill text-center">
              <h3 style="color: #337ab7;">Insert Issuer Query</h3>
            </div>
            <div class="center-pill"></div>
            <div class="wrapper">
              <form [formGroup]="issuerForm" (ngSubmit)="addNewIssuer()">
                <fieldset>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" id="name" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="label">Label</label>
                        <input type="text" formControlName="label" id="label" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" formControlName="code" id="code" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="createdBy">Created By</label>
                        <input type="text" formControlName="createdBy" id="createdBy" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="availaibleAuthentMeans">AvailaibleAuthentMeans</label>
                        <input type="text" formControlName="availaibleAuthentMeans" id="availaibleAuthentMeans" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="updateState">Update State</label>
                        <select formControlName="updateState" id="updateState" class="form-select">
                          <option label="* - Select" value="" selected="selected">* - Select</option>
                          <option value="PUSHED_TO_CONFIG">PUSHED_TO_CONFIG</option>
                          <option value="WAITING_FOR_PUSH">WAITING_FOR_PUSH</option>
                          <option value="WAITING_VALIDATION">WAITING_VALIDATION</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                      <div class="form-group text-center">
                        <button type="submit" [disabled]="!issuerForm.valid" class="btn btn-primary">Generate Sql
                        </button>
                      </div>
                    </div>
                    <div class="col-4"></div>
                  </div>
                  <div class="row  text-center" *ngIf="filename">
                    <div class="col"><br>
                      <button class="btn btn-primary btn-block" type="button" (click)="downloadFile()">Download
                        - {{filename}}</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="center-pill text-center"
             style="border: 1px solid white; background-color: white ; padding-top: 10px; padding-bottom: 10px">
          <h2 style="color: #337ab7">Issuers List</h2>
        </div>
        <div class="card-body">
          <div>
            <table class="table text-center table-bordered">
              <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Label</th>
                <th scope="col">Description</th>
                <th scope="col">CreatedBy</th>
                <th scope="col">CreationDate</th>
                <th scope="col">UpdateState</th>
                <th scope="col">Available AuthentMeans</th>
                <th scope="col" colspan="2">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let issuer of issuers | paginate: { itemsPerPage: 10, currentPage: page, totalItems: total}"
                  class="wrapper">
                <td>{{issuer.code}}</td>
                <td>{{issuer.name}}</td>
                <td>{{issuer.label}}</td>
                <td>{{issuer.description}}</td>
                <td>{{issuer.createdBy}}</td>
                <td>{{issuer.creationDate | date:'MM.dd.yyyy'}}</td>
                <td>{{issuer.updateState}}</td>
                <td>{{issuer.availaibleAuthentMeans}}</td>
                <td>
                  <a [routerLink]="['/issuer/edit']" [state]="issuer" class="btn btn-outline-primary"
                     style="border: none;"><i style="font-size: 1.5rem; " class="fa fa-pencil-square-o"></i></a>
                </td>
                <td>
                  <a routerLink="/issuer/{{issuer.code}}/delete" class="btn btn-outline-danger" style="border: none;">
                    <i style="font-size: 1.5rem;" class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="text-center">
              <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
