<section class="rule_condition_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="center-pill text-center">
              <h2 style="color: #337ab7">Update RuleCondition</h2>
            </div>
            <div class="wrapper">
              <form [formGroup]="editRuleConditionForm" (ngSubmit)="updateRuleCondition()">
                <div class="row  text-center" *ngIf="filename"></div>
                <div class="row">
                  <div class="form-group col-4">
                    <label for="creationDate">Creation Date</label>
                    <input type="text" formControlName="creationDate" id="creationDate" class="form-control" readonly>
                  </div>
                  <div class="form-group col-4">
                    <label for="name">Name</label>
                    <input  type="text" formControlName="name" id="name" class="form-control">
                  </div>
                  <div class="form-group col-4">
                    <label for="createdBy">Created By</label>
                    <input type="text" formControlName="createdBy" id="createdBy" class="form-control">
                  </div>
                  <div class="form-group col-4">
                    <label for="description">Description</label>
                    <input type="text" formControlName="description" id="description"class="form-control">
                  </div>
                  <div class="form-group col-4">
                    <label for="lastUpdateBy">Last Update By</label>
                    <input type="text" formControlName="lastUpdateBy" id="lastUpdateBy" class="form-control">
                  </div>
                  <div class="form-group col-4">
                    <label for="updateState">Update State</label>
                    <select formControlName="updateState" id="updateState" class="form-select">
                      <option label="* - Select" value="" selected="selected">* - Select</option>
                      <option value="PUSHED_TO_CONFIG">PUSHED_TO_CONFIG</option>
                      <option value="WAITING_FOR_PUSH">WAITING_FOR_PUSH</option>
                      <option value="WAITING_VALIDATION">WAITING_VALIDATION</option>
                    </select>
                  </div>
                  <div class="form-group text-center">
                    <a routerLink="/condition" class="btn btn-primary" style="margin: 0px 5px;">Back</a>&nbsp;
                    <button type="submit" [disabled]="!editRuleConditionForm.valid" class="btn btn-primary">Update Rule Condition</button>
                  </div>
                </div>
              </form>
              <div class="form-group text-center">
                <div class="row  text-center" *ngIf="filename">
                  <div class="col"><br>
                    <button class="btn btn-primary btn-block" type="button" routerLink="/condition" (click)="downloadFile()">Download -
                      {{filename}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


