<section class="rule_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="center-pill text-center">
              <h3 style="color: #337ab7">Insert Rule Query</h3>
              <div class="center-pill text-center" *ngIf="validMessage != ''">
              </div>
            </div>
            <div class="wrapper">
              <form [formGroup]="ruleForm" (ngSubmit)="addNewRule()">
                <fieldset>
                  <div class="row">
                    <div class="form-group col-4">
                      <label for="name">Name</label>
                      <input type="text" formControlName="name" id="name" class="form-control">
                    </div>
                    <div class="form-group col-4">
                      <label for="description">Description</label>
                      <input type="text" formControlName="description" id="description" class="form-control">
                    </div>
                    <div class="form-group col-4">
                      <label for="orderRule">OrderRule</label>
                      <input type="number" formControlName="orderRule" id="orderRule" class="form-control">
                    </div>
                    <div class="form-group col-4">
                      <label for="updateState">Update State</label>
                      <select formControlName="updateState" id="updateState" class="form-select">
                        <option label="* - Select" value="" selected="selected">* - Select</option>
                        <option value="PUSHED_TO_CONFIG">PUSHED_TO_CONFIG</option>
                        <option value="WAITING_FOR_PUSH">WAITING_FOR_PUSH</option>
                        <option value="WAITING_VALIDATION">WAITING_VALIDATION</option>
                      </select>
                    </div>
                    <div class="form-group col-4">
                      <label data-translate="profile">Profile</label>
                      <select id="transaction-profileId" class="form-select" title="Choose an profile code" formControlName="profileId">
                        <option label="* - Select" value="" selected="selected">* - Select</option>
                        <option *ngFor="let profile of profiles;" value="{{ profile.id }}">{{ profile.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <p class="has-info" style="color: green">{{validMessage}} </p>
                    <button type="submit" [disabled]="!ruleForm.valid" class="btn btn-primary btn-block">Generate Sql
                    </button>
                    <div class="row  text-center" *ngIf="filename">
                      <div class="col"><br>
                        <button class="btn btn-primary btn-block" type="button" (click)="downloadFile()">Download
                          - {{filename}}</button>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="center-pill text-center"
             style="border: 1px solid white; background-color: white ; padding-top: 10px; padding-bottom: 10px">
          <h2 style="color: #337ab7">Rules List</h2>
        </div>
        <div class="card-body">
          <div>
            <table class="table text-center table-bordered">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Last Update date</th>
                <th scope="col">Last Update By</th>
                <th scope="col">Created By</th>
                <th scope="col">Description</th>
                <th scope="col">Order Rule</th>
                <th scope="col">UpdateState</th>
                <th scope="col" colspan="2">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let rule of rules | paginate: { itemsPerPage: 10, currentPage: page, totalItems: total}" class="wrapper">

              <td>{{ rule.name }}</td>
                <td>{{ rule.creationDate | date:'MM.dd.yyyy'}}</td>
                <td>{{ rule.lastUpdateDate | date:'MM.dd.yyyy'}}</td>
                <td>{{ rule.lastUpdateBy }}</td>
                <td>{{ rule.createdBy }}</td>
                <td>{{ rule.description }}</td>
                <td>{{ rule.orderRule }}</td>
                <td>{{ rule.updateState }}</td>
                <td>
                  <a [routerLink]="['/rule/edit']" [state]="rule" class="btn btn-outline-primary"
                     style="border: none;"><i style="font-size: 1.5rem; " class="fa fa-pencil-square-o"></i></a>
                </td>
                <td>
                  <a routerLink="/rule/delete/{{rule.id}}" class="btn btn-outline-danger"
                     style="border: none;">
                    <i style="font-size: 1.5rem; " class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="text-center">
              <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
