<section class="rule_condition_section" style="padding: 15px 0 !important;">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="center-pill text-center">
              <h3 style="color: #337ab7">Insert RuleCondition Query</h3>
            </div>
            <div class="center-pill text-center" *ngIf="validMessage != ''">
            </div>
            <div class="wrapper">
              <form [formGroup]="ruleConditionForm" (ngSubmit)="addNewRuleCondition()">
                <fieldset>
                  <div class="row">
                    <div class="form-group col-4">
                      <label for="name">Name</label>
                      <input type="text" formControlName="name" id="name" class="form-control">
                    </div>
                    <div class="form-group col-4">
                      <label for="description">Description</label>
                      <input type="text" formControlName="description" id="description" class="form-control">
                    </div>
                    <div class="form-group col-4">
                      <label for="updateState">Update State</label>
                      <select formControlName="updateState" id="updateState" class="form-select">
                        <option label="* - Select" value="" selected="selected">* - Select</option>
                        <option value="PUSHED_TO_CONFIG">PUSHED_TO_CONFIG</option>
                        <option value="WAITING_FOR_PUSH">WAITING_FOR_PUSH</option>
                        <option value="WAITING_VALIDATION">WAITING_VALIDATION</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label data-translate="rule">Rule</label>
                      <select id="transaction-rule-id"
                              class="form-select" title="Choose an rule code" formControlName="ruleId">
                        <option label="* - Select" value="" selected="selected">* - Select</option>
                        <option *ngFor="let rule of rules;" value="{{rule.id}}">{{rule.name}}</option>
                      </select>
                    </div>
                    <div class="form-group text-center">
                      <p class="has-info" style="color: green">{{validMessage}} </p>
                      <button type="submit" [disabled]="!ruleConditionForm.valid" class="btn btn-primary btn-block">
                        Generate SQL
                      </button>
                      <div class="row  text-center" *ngIf="filename">
                        <div class="col"><br>
                          <button class="btn btn-primary btn-block" type="button" (click)="downloadFile()">Download
                            - {{filename}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="center-pill text-center"
             style="border: 1px solid white; background-color: white ; padding-top: 10px; padding-bottom: 10px">
          <h2 style="color: #337ab7">Rule Conditions List</h2>
        </div>
        <div class="card-body">
          <div>
            <table class="table text-center table-bordered">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Last Update date</th>
                <th scope="col">Last Update By</th>
                <th scope="col">Created By</th>
                <th scope="col">Description</th>
                <th scope="col">UpdateState</th>
                <th scope="col" colspan="2">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let condition of ruleConditions| paginate: { itemsPerPage: 10, currentPage: page, totalItems: total}" class="wrapper">
                <td>{{ condition.name }}</td>
                <td>{{ condition.creationDate | date:'MM.dd.yyyy'}}</td>
                <td>{{ condition.lastUpdateDate | date:'MM.dd.yyyy'}}</td>
                <td>{{ condition.lastUpdateBy }}</td>
                <td>{{ condition.createdBy }}</td>
                <td>{{ condition.description }}</td>
                <td>{{ condition.updateState }}</td>
                <td>
                  <a [routerLink]="['/condition/edit']" [state]="condition" class="btn btn-outline-primary"
                     style="border: none;"><i style="font-size: 1.5rem; " class="fa fa-pencil-square-o"></i></a>
                </td>
                <td>
                  <a routerLink="/condition/delete/{{condition.id}}/5" class="btn btn-outline-danger" style="border: none;">
                    <i style="font-size: 1.5rem; " class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="text-center">
              <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
